h1 {
  color: rgb(3, 170, 210);
  text-align: center;
  font-weight: 300;
}
h2 {
  text-align: center;
}
#checkout-button {
  color: white;
  background: rgb(3, 170, 210);
  display: block;
  margin: 0px auto;
  box-shadow: 5px 5px 5px rgba(3, 170, 210, 0.5);
  transition: all 300ms ease-in-out;
  font-size: 30px;
}
#checkout-button:hover {
  color: rgb(3, 170, 210);
  background: white;
}
span {
  display: block;
  margin: 0px auto;
  text-align: center;
}
img {
  display: block;
  margin: 2% auto;
  border-radius: 250px 250px 200px 250px;
  border-color: rgb(3, 170, 210);
  border: 20px solid rgb(3, 170, 210);
  padding: 2px;
}
.mainText {
  text-align: center;
}
